*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
   }
   
   body{
      height: 100%;
      background-image: url("./IMG/urn_aaid_sc_US_3e5bdfff-8c40-42c0-8fd9-125ed8881d4e.png");
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
    }
    .headerUm{
      display: inline-block;
      margin-left: 5vw;
      margin-top: 1.2vh;
    }
    .headerUm img{
      width: 2.8vw;
      height: 7.5vh;
    }
   .tituloUm{
     display:inline-block;
     margin-top: 4.5vh;
     margin-left: 2.7vw;
     color: white;
    }
    nav{
     display:inline-block;
       height:7vh;
       margin-left: 20vw;
    }
    li{
        display:inline;
        margin-right:2vw;
        color: white;
      }
      li:hover{
        cursor:pointer;
        font-size: 1.5vw;
      }
      main{
        height:100vh;
        background-image:url("./IMG/geraldo.png");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
      }
      .mainOne{
        width: 60%;
        margin-left: 35vw;
      }
      .logotw{
       width: 30vw; 
        margin-top: 45vh;
      }
      .botaoUm{
        width:30vw;
        margin-left:35vw;
      }
      .redOne{
        width:25vw;
        margin-left:1.5vw;
      }
      .redOne:hover{
        cursor:pointer;
        box-shadow: 2px 8px 8px white;
      }
     
      .partBaixo{
        margin-top:4vw;
        color:white;
      }